name: Go Tests

on: [push]
jobs:
  go-unit-test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.18' ]
    steps:
      - uses: actions/checkout@v3

      - name: make tests
        run: make tests

      - name: make junit-report
        run: make junit-report

      - name: Upload junit report
        uses: actions/upload-artifact@v3.1.1
        with:
          name: junit.xml
          path: test_reports/junit.xml

